{% extends 'base.html' %}
{% load i18n tz superarchives %}

{% block main-content %}
  {% block mailinglist_view_title %}
    <div class="row">
      <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
        <h2><a href="{% url 'thread_list' %}">{% trans "Groups"|title %}</a></h2>
      </div>

      <div class="col-xs-6 col-sm-8 col-md-10 col-lg-10">
        <br/><br/>
        <p class="text-right quiet">
          {{ page_obj.paginator.count }} {% trans "messages found" %}
        </p>
      </div>
    </div>

    <hr/>

    <div class="row">
      <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
        <h3><b>{{ mailinglist.name|lower }} {% if mailinglist.description %}({{ mailinglist.description }}){% endif %}</b></h3>
        <div class="btn-group btn-group-sm">
          <a href="#" class="btn btn-default" disabled="disabled">{% blocktrans with number_of_users=mailinglist.get_number_of_users %}{{ number_of_users }} members{% endblocktrans %}</a>
        </div>
      </div>
      <div class="col-xs-6 col-sm-8 col-md-10 col-lg-10">
        <p class="text-right">{% trans "Order by" %}</p>
        <form method="get">
          <select name="order" class="pull-right" id="order_option" onchange="this.form.submit()">
            {% for option, dict_order in order_data.items %}
              {% ifequal selected option %}
                <option value="{{option}}" selected>{% trans dict_order.name %}</option>
              {% else %}
                <option value="{{option}}">{% trans dict_order.name %}</option>
              {% endifequal %}
            {% endfor %}
          </select>
        </form>
      </div>
    </div>
    <hr/>
  {% endblock %}

  {% block mailinglist_view_thread_list %}
    {% for thread in thread_list %}
      <div class="row">
        <div class="col-md-12">
          <small>{{ thread.latest_message.received_time|date:"d F Y" }} {% trans "at" %} {{thread.latest_message.received_time|date:"h:m" }} - <a href="{{thread.latest_message.author_url}}">{{thread.latest_message.author }}</a>
          </small><br>
          <h4><a href="{{thread.get_absolute_url}}">{{ thread.latest_message.subject_clean }}</a></h4>
          {% with thread.latest_message.body|truncatechars:"85" as description %}
            {{description | default_if_none:"a"}}<br>
          {% endwith %}
        </div>
        <hr>
      </div>
    {% endfor %}
  {% endblock %}

  {% block mailinglist_view_paginator %}
    {% if page_obj.has_other_pages %}
      <div class="text-center">
        <ul class="pagination">
          <li {% if page_obj.number == 1 %}class="disabled"{% endif %}>
            <a href="{% if page_obj.number == 1 %}javascript:void(0);{% else %}?page={{1}}{% endif %}"><span class="glyphicon glyphicon-chevron-left small-icon"></span><span class="glyphicon glyphicon-chevron-left small-icon"></span></a>
          </li>
          <li {% if not page_obj.has_previous %}class="disabled"{% endif %}>
            <a href="{% if page_obj.has_previous %}?page={{page_obj.previous_page_number }}{% else %}javascript:void(0);{% endif %}"><span class="glyphicon glyphicon-chevron-left small-icon"></span></a>
          </li>

          {% if page_obj.has_previous %}
            {% if page_obj.previous_page_number > 1 %}
              <li>
                <a href="?page={{page_obj.previous_page_number|add:-1 }}">{{ page_obj.number|add:-2 }}</a>
              </li>
            {% endif %}
            <li>
              <a href="?page={{page_obj.previous_page_number }}">{{ page_obj.number|add:-1 }}</a>
            </li>
          {% endif %}

          <li class="active">
            <a href="javascript:void(0);">{{ page_obj.number }}</a>
          </li>

          {% if page_obj.has_next %}
            <li>
              <a href="?page={{page_obj.next_page_number }}">{{ page_obj.number|add:1 }}</a>
            </li>
            {% if page_obj.next_page_number < page_obj.paginator.num_pages %}
              <li>
                <a href="?page={{page_obj.next_page_number|add:1 }}">{{ page_obj.number|add:2 }}</a>
              </li>
            {% endif %}
          {% endif %}

          <li {% if not page_obj.has_next %}class="disabled"{% endif %}>
            <a href="{% if page_obj.has_next %}?page={{page_obj.next_page_number }}{% else %}javascript:void(0);{% endif %}"><span class="glyphicon glyphicon-chevron-right small-icon"></span></a>
          </li>

          <li {% if page_obj.number == page_obj.paginator.num_pages %}class="disabled"{% endif %}>
            <a href="{% if page_obj.number == page_obj.paginator.num_pages %}javascript:void(0);{% else %}?page={{page_obj.paginator.num_pages }}{% endif %}"><span class="glyphicon glyphicon-chevron-right small-icon"></span><span class="glyphicon glyphicon-chevron-right small-icon"></span></a>
          </li>

        </ul>
      </div>
    {% endif %}
  {% endblock %}
{% endblock %}
