{% extends 'base.html' %}
{% load i18n tz superarchives %}

{% block main-content %}
  <div class="row">
    <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
      <h2>{% block page_title %}{% trans "Groups"|title %}{% endblock %}</h2>
    </div>
  </div>

  <hr/>

  <h3><b>{{ mailinglist.name|lower }} {% if mailinglist.description %}({{ mailinglist.description }}){% endif %}</b></h3>
  <div class="btn-group btn-group-sm">
    <a href="#" class="btn btn-default" disabled="disabled">{% blocktrans with number_of_users=mailinglist.get_number_of_users %}{{ number_of_users }} members{% endblocktrans %}</a>
  </div>
  <hr/>

  {% for result in ml_messages %}
    {% include 'search/thread_search_preview.html' %}
  {% endfor %}

{% endblock %}

