{% load i18n tz highlight %}

{%  if result.type in "user" %}
  {% include "accounts/user_search_preview.html" with user=result %}
{% endif %}

{% if result.type in "thread" %}
  {% include "superarchives/thread_search_preview.html" with thread=result %}
{% endif%}

{% if result.type in "noosfero_community"%}
  {% include "noosfero/community_search_preview.html" with community=result %}
{% endif%}

{% if result.type in "noosfero_article"%}
  {% include "noosfero/article_search_preview.html" with article=result %}
{% endif%}

