{% extends "base.html" %}
{% load i18n %}
{% load append_to_get %}
{% block main-content %}
<div id="message-list">
  <h2 class="span-5">Discussões</h2>
  <hr/>
  
  <div class="span-5 border filters">
    <h3>Filtros</h3>
    
    <h4>Ordenar por</h4>
    <ul>
      <li {% ifequal order_by "hottest" %} class="selected" title="{% trans "Retirar filtro" %}" {% endifequal %}>
        <a href="{% ifequal order_by "hottest" %} {% append_to_get order="",p=1 %} {% else %} {% append_to_get order='hottest',p=1 %} {% endifequal %}">
          Relevância</a></li>
      <li {% ifequal order_by "latest" %} class="selected" title="{% trans "Retirar filtro" %}" {% endifequal %}>
        <a href="{% ifequal order_by "latest" %} {% append_to_get order="",p=1 %} {% else %} {% append_to_get order='latest',p=1 %} {% endifequal %}">
          Atividade recente</a></li>
    </ul>
    
    <hr class="space" />
    
    <h4>Listas</h4>
    <ul>
      {% for list in lists %}
        <li {% ifequal list.name selected_list %} class="selected" title="{% trans "Retirar filtro" %}" {% endifequal %}>
          <a href="{% ifnotequal list.name selected_list %} {% append_to_get list=list.name,p=1 %} {% else %} {% append_to_get list="",p=1 %}
          {% endifnotequal %}">{{ list.name }}</a></li>
      {% endfor %}
    </ul>
  </div>
  
  <div class="span-17 prepend-1 last">
    <ul>
      {% for thread in threads.object_list %}
        {% include "message-preview.html" with doc=thread.latest_message %}
      {% empty %}
        <br/><br/>
        <span class="span-18 center large">
          <b>Nenhuma discussão encontrada</b>
        </span>
      {% endfor %}
    </ul>
    <hr class="space"/>
    
    {% if n_results %}
    <div class="pagination center">
      <span class="step-links">
        {% if threads.has_previous %}
          <a href="{% append_to_get p=threads.previous_page_number %}">Anterior</a>
        {% endif %}

        <span class="current">
          Página {{ threads.number }} de {{ threads.paginator.num_pages }}
        </span>

        {% if threads.has_next %}
          <a href="{% append_to_get p=threads.next_page_number %}">Próxima</a>
        {% endif %}
      </span>
    </div>
    {% endif %}
    
  </div>
</div>

{% endblock %}
