{% extends "base.html" %}
{% load i18n %}
{% load append_to_get %}
{% block main-content %}
  <div id="vote-notification" class="error hide"></div>

  <h2>{{ first_msg.subject_clean }}</h2>
  <hr/>
  <div class="span-17 border">
    <ul>
    {% for email in emails %}
      <li>
        <div id="msg-{{ email.id }}" class="email_message">
          <div class="span-3 center">
            <div>
              <a href="{{ email.from_address.get_profile_link }}">
                <img class="avatar" width="80px" heigth="80px"
                     src="http://www.gravatar.com/avatar/{{ email.from_address.md5 }}?s=80&d=identicon" />
                <span>{% firstof email.from_address.get_full_name "Anônimo" %}</span>
              </a>
            </div>
            <p>{{ email.received_time|date:"SHORT_DATETIME_FORMAT" }}</p>
            
            <div class="plus">
              <span>{{ email.votes_count }}</span>
              <img title="{% trans 'Votar' %}" class="right" src="{{ STATIC_URL }}img/plus.png">
            </div>

            <p class="minus {% if not user in email.vote_list %}hide{% endif %}">
              <a href="#">Remover voto</a>
            </p>
          </div>
        
          <div class="span-13">
            <pre>{{ email.body }}</pre>
          </div>
        </div>
        {% if not forloop.last %}
        <hr/>
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  </div>
  <div class="span-6 filters last">
    <h4><b>{% trans "Ordenar por" %}:</b></h4>
    <ul>
      <li><a href="{% append_to_get order='voted' %}">{% trans "Votos" %}</a></li>
      <li><a href="{% append_to_get order='date' %}">{% trans "Data" %}</a></li>
    </ul>

    <hr class="space"/>
    
    <h4><b>{% trans "Estatísticas:" %}</b></h4>
    
    <ul>
      <li class="quiet">{% trans "iniciada à" %}
        <h4>{{ first_msg.received_time|timesince }} {% trans "atrás" %}</h4>
      </li>
      <li class="quiet">{% trans "visualizada" %}
        <h4>{{ pagehits }} {% trans "vezes" %}</h4>
      </li>
      <li class="quiet">{% trans "respondida" %}
        <h4>{{ emails|length }} {% trans "vezes" %}</h4>
      </li>
      <li class="quiet">{% trans "votada" %}
        <h4>{{ total_votes }} {% trans "vezes" %}</h4>
      </li>
    </ul>
    
  </div>
  
  <script type="text/javascript" charset="utf-8">
    pagehit("{{ request.path_info }}");
  </script>
  
{% endblock %}  
