{% extends 'base.html' %}
{% load static %}

{% block head_css %}
<link href="{% static 'css/bootstrap-colab-style.css' %}" 
	media="screen, projection" rel="stylesheet" type="text/css">
<link href="{% static 'css/fix.css' %}" media="screen, projection" rel="stylesheet" type="text/css">
<style>

</style>
{% endblock %}

{% block head_js %}
<script>jQuery.noConflict();</script>
{% endblock %}

{% block navbar %}
<div class="colab-style">
	{{ block.super }}
</div>
{% endblock %}

{% block footer %}
<div class="colab-style">
	{{ block.super }}
</div>
{% endblock %}

{% block footer_js %}
{{ block.super }}
<script src="{% static 'js/jquery.dropdown.js' %}" type="text/javascript"></script>
<script src="{% static 'js/collapse.js' %}" type="text/javascript"></script>
{% endblock %}