/* Base */

ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    margin-right: 0;
} 

pre {
    white-space: pre-wrap;
}

h2 {
    font-size: 2em;
    font-weight: bold;
}

h3 {
    font-size: 1.5em;
    font-weight: bold;
}

h4 {
    margin-bottom: 10px;
}

form {
    display: inline;
}

#main-content {
    margin-bottom: 20px;
}

#main-content,
#header {
    font-size: 105%;
}

/* Preview Message */ 

.preview-message  {
    white-space: nowrap;
    overflow: hidden;
    line-height: 28px;
    border-bottom: solid 1px #ddd;
}

.preview-message a {
    text-decoration: none;
}

.preview-message img {
    margin-right: 5px;
}

/* Header */

#header-searchbox {
    width: 290px;
}

#header-menu span {
    line-height: 33px;
}

/* Thread view */

.plus {
    border: 1px dotted #ddd;
    margin: 0;
}

.plus span {
    vertical-align: middle;
    height: 40px;
    line-height: 40px;
    font-size: 150%;
    font-weight: bold;
    color: #0a0;
}

.plus img {
    vertical-align: middle;
    cursor: pointer;
    margin-top: 8px;
    margin-right: 20px;
}

.plus img:hover {
    opacity: 0.8;
}

/* User Profile  */

#user-profile ul {
    margin-left: 25px;
}

#user-profile form p {
    margin: 0;
}

/* Forms */
.required label:before {
    color: #f00;
    content: "* ";
}

input[type="text"],
input[type="password"]  {
    width: 300px;
    padding: 3px;
}

/* Login Form */

#login-form-wrapper {
    height: 180px;
}

#login-form-wrapper fieldset {
    height: 100%;
}

#login-form-wrapper .large {
    line-height: 25px;
} 

/* Generic classes */

.subject, 
.subject a {
    color: #000;
}

.subject a:hover, 
.subject a:focus {
    text-decoration: underline;
    color: #335;
}

.subject img {
    margin-right: 5px;
}

.avatar {
    border: 1px solid #ddd;
    padding: 3px;
}

div.avatar-placeholder {
    border: 1px solid #cccccc;
}

.avatar-image {
    float: left;
    margin-right: 10px;
    height: 40px;
    padding: 8px 12px 0;
    background-color: white;
}

label.avatar-placeholder {
    display: block;
    margin-left: 6px;
}

.tag {
    background-color: #2183b3;
    padding: 2px 4px;
    border-radius: 5;
    font-size: 90%;
    color: #fff;
    margin-right: 5px;
}

.tag:hover, 
.tag:focus {
    background-color: #21b6e6;
}

.quiet {
    color: #999;
    font-size: 95%;
}

.center {
    text-align: center;
}

.justify {
    text-align: justify;
}

img.center {
    margin: auto; 
    display: block;
}

.filters {
    height: 100%;
    padding-left: 20px;
}

.filters ul {
    padding-left: 20px;
}

.filters li:before {
    content: "\00BB\0020";
}


.filters .legend li span {
    display: inline-block;
    width: 25px;
}

.filters .legend li:before {
    content: '';
}


