{% extends 'base.html' %}
{% load i18n gravatar %}
{% load staticfiles %}

{% block head_js %}
  {{block.super}}
  <script src="{% static 'js/subscriptions.js' %}"></script>
{% endblock %}

{% block main-content %}

  <h2>{% blocktrans %}Group Subscriptions{% endblocktrans %}</h2>
  <h3>{% gravatar user_.email 50 %} {{ user_.get_full_name }} ({{ user_.username }})</h3>
  <br>

  <input id="user_name" type="hidden" value="{{user_.username}}">  

  <div class="row">
    <div class="col-lg-6 col-md-6">
      <div class="input-group">
        <input id="list_name" type="text" value="{{list_name}}" class="form-control" placeholder="{% trans "Inform the list name" %}">
        <span class="input-group-btn">
          <button id="search_list" type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>
    </div>
  </div>
  <br>
  
  <form method='post'>
  {% csrf_token %}
    <div id="subscription_lists">

      <div class="row">
        {% for email, lists in membership.items %}
          {% if lists %}

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">{{ email }}</h3>
                </div>
                <div class="panel-body">
                  {% for list, checked in lists %}
                    <div class="checkbox" title="{{ list.description }}">
                      <label>
                        <input name="{{ email }}" value="{{ list.listname }}" type="checkbox" {% if checked %}checked{% endif%}>{{ list.listname }}</input>
		        {% if list.archive_private != 0 %}
                          <span class="label label-default">{% trans 'Private' %}</span>
                        {% endif %}
                      </label>
                    </div>
                  {% endfor %}
                </div>
                <div class="panel-footer text-center">
                  <span class="step-links">
                    {% if lists.has_previous %}
                        <a href="?page=1&per_page={{ per_page }}">
			  <span class="glyphicon glyphicon-backward"></span>
			</a>

                        <a href="?page={{ lists.previous_page_number }}&per_page={{ per_page }}">
			  <span class="glyphicon glyphicon-chevron-left"></span>
			</a>
                    {% endif %}

                    <span class="current">
                        {% trans 'Page' %} {{ lists.number }} {% trans 'of' %} {{ lists.paginator.num_pages }}
                    </span>

                    {% if lists.has_next %}
                        <a href="?page={{ lists.next_page_number }}&per_page={{ per_page }}">
			  <span class="glyphicon glyphicon-chevron-right"></span>
			</a>

                        <a href="?page={{ lists.paginator.num_pages }}&per_page={{ per_page }}">
			  <span class="glyphicon glyphicon-forward"></span>
			</a>
                    {% endif %}
                  </span>
                </div>
              </div>
            </div>

          {% else %}
            <div class="row">
              <div class="col-lg-6">
                <div class="alert alert-dismissable alert-danger">
                      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                      {% trans 'List not found.' %}
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
        </div>
    </div>
    <div class="row">
      <div class="text-center">
        <button class="btn btn-lg btn-primary" type="submit">{% trans 'Update subscriptions' %}</button>
      </div>
    </div>
  </form>

 <br><br>
 <br><br>

{% endblock %}
