{% load i18n %}

  <div class="row">
    {% for email, lists in membership.items %}
      {% if lists %}

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">{{ email }}</h3>
            </div>
            <div class="panel-body">
              {% for list, checked in lists %}
                <div class="checkbox" title="{{ list.description }}">
                  <label>
                    <input name="{{ email }}" value="{{ list.listname }}" type="checkbox" {% if checked %}checked{% endif%}>{{ list.listname }}</input>
                  </label>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>

      {% else %}
        <div class="row">
          <div class="col-lg-6">
            <div class="alert alert-dismissable alert-danger">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                  {% trans 'List not found.' %}
            </div>
          </div>
        </div>
      {% endif %}
        
    {% endfor %}
    
    </div>

  <div class="row">
    <div class="text-center">
      <button class="btn btn-lg btn-primary" type="submit">{% trans 'Update subscriptions' %}</button>
    </div>
  </div>
