*~
*.log
*.pot
*.pyc
*.pyo
local_settings.py
project_cfg.py

*.swp
*.sqlite3
*.db
.DS_Store
.vagrant

ext/
*.egg-info/
dist/

# Coverage
.coverage
coverage_report/

# Whoosh Index
colab/tests/whoosh_index/
