*~
*.log
*.pot
*.pyc
*.pyo
*.egg*
local_settings.py
project_cfg.py

*.swp
*.sqlite3
*.db
.DS_Store
.vagrant

ext/
*.egg-info/
dist/

# Coverage
.coverage
coverage_report/

# Whoosh Index
tests/whoosh_index/
colab/whoosh_index/

# Open Build System
.obs/

# Documentation build
docs/build
