include README.rst
include MANIFEST.in
recursive-include colab/static *
recursive-include colab/locale *
recursive-include colab/super_archives/locale *
recursive-include colab/proxy/noosfero/static *
recursive-include colab *.html *.txt *.xml
recursive-include misc *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
include requirements.txt
