https://www.djangoproject.com/download/1.6c1/tarball/
#Django==1.5.2
South==0.8.1
psycopg2==2.5.1
django-piston==0.2.3
pytz==2011n
chardet==1.0.1
python-dateutil==1.5
django-cliauth==0.9
django-mobile==0.3.0
django-haystack==2.1
pysolr==2.1
poster==0.8.1
etiquetando==0.1
html2text
django-taggit
python-memcached

gunicorn
gevent

# Deps for sentry client (raven)
raven
tornado

# Deps for Single SignOn (SSO)
django-browserid
django-revproxy

# Converse.js (XMPP client)
django-conversejs==0.2.8

# Feedzilla (planet) and deps
#feedzilla==0.22
hg+https://bitbucket.org/lorien/feedzilla
django-common
feedparser
lxml
grab
transliterate

# Diazo
#diazo
git+https://github.com/plone/diazo@44ca0da7de5a7ee5d4085c7344701b9cfecfb419
