{% extends "search-base.html" %}
{% load superarchives set_var %}

{% block content %}
  {% profile_url result.modified_by result.modified_by_url as user_url%}
  {% set 'author' user_url %}
  {% set 'title' result.title %}
  {% set 'modified' result.modified %}
  {% set 'modified_time' True %}
  {% set 'url' result.url %}
  {% set 'registered_in' "Discussion" %}
  {% set 'description' result.latest_description|truncatechars:"85"|default_if_none:"" %}

  {{ block.super }}
{% endblock content %}


