<!DOCTYPE html>
{% load i18n static browserid conversejs gravatar %}

<html>
  <head>
  {% block head %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    {% block metarobots %}
      {% if ROBOTS_NOINDEX %}
        <meta name="robots" content="noindex, nofollow" />
      {% endif %}
    {% endblock %}

    <title>{% block title %}Colab{% endblock %} - Colab</title>

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/fav.ico' %}">

    <link rel="stylesheet" href="{% static 'third-party/bootstrap/css/bootstrap.min.css' %}" type="text/css" media="screen, projection" />

    <link rel="stylesheet"
          href="{% static 'third-party/font-awesome/css/font-awesome.min.css' %}"
          type="text/css" media="screen" />


    <!-- JQuery 2+ won't work for IE < 9 -->
    <script type="text/javascript" src="{% static 'third-party/jquery-2.0.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'third-party/jquery.debouncedresize.js' %}"></script>
    <script type="text/javascript" src="{% static 'third-party/jquery.cookie.js' %}"></script>
    <script src="{% static 'third-party/bootstrap/js/bootstrap.min.js' %}"></script>

    {% block head_js %}{% endblock %}
    {% block head_css %}{% endblock %}

    {% if not is_mobile %}
      {% conversejs_static %}
    {% endif %}

    <link rel="stylesheet" href="{% static 'css/screen.css' %}"
        type="text/css" media="screen" />

  {% endblock %}
  </head>

  <!-- data-no-turbolink will disable Rails TurboLinks for all pages under Colab -->
  <body class="container" data-no-turbolink>
    {% browserid_info %}

    {% block navbar %}
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">

          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img alt="Colab" src="{% static 'img/logo.svg' %}"></a>
        </div>
        <div class="collapse navbar-collapse navbar-main">
          <ul class="nav navbar-nav">

            {% if proxy.trac %}
              <li>
                <a href="/trac/timeline">{% trans "Timeline" %}</a></li>
              </li>
            {% endif %}

            <li>
              <a href="{% url 'thread_list' %}">{% trans "Groups" %}</a>
            </li>
            <li>
              <a href="{% url "feedzilla_index" %}">{% trans "Blogs" %}</a>
            </li>
            {% if proxy.gitlab %}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Repository" %} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/gitlab/public/projects">{% trans "Public Projects" %}</a></li>
                  {% if user.is_active %}
                    <li><a href="/gitlab/profile">{% trans "Profile" %}</a></li>
                    <li><a href="/gitlab/projects/new">{% trans "New Project" %}</a></li>
                    <li><a href="/gitlab/dashboard/projects">{% trans "Projects" %}</a></li>
                    <li><a href="/gitlab/profile/groups">{% trans "Groups" %}</a></li>
                    <li><a href="/gitlab/dashboard/issues">{% trans "Issues" %}</a></li>
                    <li><a href="/gitlab/dashboard/merge_requests">{% trans "Merge Requests" %}</a></li>
                  {% endif %}
                </ul>
              </li>
            {% endif %}
            {% if proxy.trac %}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Contribute" %} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/trac/wiki">Wiki</a></li>
                  {% if user.is_active %}
                  <li><a href="/trac/wiki/WikiNewPage">{% trans "New Wiki Page" %}</a></li>
                  {% endif %}
                  <li><a href="/trac/report">{% trans "View Tickets" %}</a></li>
                  {% if user.is_active %}
                  <li><a href="/trac/newticket">{% trans "New Ticket" %}</a></li>
                  {% endif %}
                  <li><a href="/trac/roadmap">{% trans "Roadmap" %}</a></li>
                  <!-- TODO: Must be optional like trac and separated -->
                  <li><a href="/paste">Paste</a></li>
                  <li><a href="/trac/browser">{% trans "Browse Source" %}</a></li>
                  <!-- TODO: Must be optional like trac and separated -->
                  <li><a href="/ci">{% trans "Continuous Integration" %}</a></li>
                </ul>
              </li>
            {% endif %}

            <li class="hidden-lg hidden-md">
              <a href="{% url 'haystack_search' %}?q=">{% trans "Search" %}</a>
            </li>
            {% if user.is_active %}
            <li>
              <a href="/wiki/ComoUsarColab">{% trans "Help" %}</a>
            </li>
            {% endif %}
          </ul>

          <ul class="nav navbar-nav navbar-right">
            {% if not user.is_authenticated %}

              <li class="dropdown hidden-xs hidden-lg">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Acesso <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'signup' %}">{% trans "Register" %}</a></li>
                  {% trans 'Login' as login_text %}
                  <li>{% browserid_login text=login_text %}</li>
                </ul>
              </li>
              <li class="visible-xs hidden-sm hidden-md"><a href="{% url 'signup' %}">{% trans "Register" %}</a></li>
              {% trans 'Login' as login_text %}
              <li class="visible-xs hidden-sm hidden-md">{% browserid_login text=login_text %}</li>
            {% else %}
              <li id="user-menu" class="dropdown">
                <a href="#" class="dropdown-toggle user" data-toggle="dropdown">{% gravatar user.email 40 %} <b class="caret"></b>&nbsp;&nbsp;</a>
                <ul class="dropdown-menu" role="menu">
                  <li>
                    <div class="wrapper">
                      <div class="thumbnail">{% gravatar user.email 100 %}</div>
                      <div class="user-info">
                        <span><b>{{ user.get_full_name }}</b></span>
                        <span class="quiet">{{ user.email }}</span>
                      </div>
                      <div>
                        <a class="btn btn-info pull-left" href="{% url 'user_profile' user.username %}">{% trans "My Profile" %}</a>
                        {% trans 'Logout' as logout_text %}
                        {% browserid_logout text=logout_text link_class='btn btn-default pull-right' %}
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
            {% endif %}
          </ul>

          <form action="{% url 'haystack_search' %}" method="GET" id="search-form" class="navbar-form navbar-right hidden-xs hidden-sm" role="search">
            <div class="form-group">
              <label class="sr-only" for="header-searchbox">{% trans 'Search here...' %}</label>
              <input name="q" id="header-searchbox"
                     class="form-control" value="{{ request.GET.q }}"
                     type="search" placeholder="{% trans 'Search here...' %}" />
            </div>
            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
          </form>
        </div>
      </div>
    </nav>

    {% endblock %}

      {% block messages %}
        {% if request.GET.bid_login_failed %}
          <div class="alert alert-dismissable alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {% trans 'The login has failed. Please, try again.' %}
          </div>
        {% endif %}

        {% for message in messages %}
          <div class="alert alert-dismissable {{ message.tags }}">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ message }}
          </div>
        {% endfor %}
        <div id="alert-js" class="alert alert-dismissable alert-warning" hidden>
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <span id="alert-message"></span>
        </div>
      {% endblock %}

    <div id="main-content">
      {% block main-content %}{% endblock %}
    </div>

    <div class="row">&nbsp;</div>

    {% block footer %}
    <div class="footer row">
      {% if user.is_staff %}
      <p class="col-lg-12 text-center">{% trans "Last email imported at" %} {{ last_imported_message.received_time|date:'DATETIME_FORMAT' }}</p>
      {% endif %}
      <p class="col-lg-12 text-center">
        <a href="{% url 'opendata' %}"><img src="{% static 'img/opendata3.png' %}"/></a>
        <a href="http://creativecommons.org/licenses/by-sa/4.0/deed.pt_BR"><img src="{% static 'img/cc_by_sa.png' %}"/></a>
      </p>
      <p class="col-lg-12 text-center">
        {% trans "The contents of this site is published under license" %}:
        <br>
        <a href="http://creativecommons.org/licenses/by-sa/4.0/deed.pt_BR">
          {% trans "Creative Commons 4.0 Brasil - Atribuir Fonte - Compartilhar Igual" %}.
        </a>
      </p>
    </div>
    {% endblock %}

  {% if not is_mobile %}
    {% conversejs_chatpanel %}
    {% conversejs_initialize %}
  {% endif %}

  {% include "tz/set_utc_offset.html" %}

  <script src="https://login.persona.org/include.js"></script>
  <script src="{% static 'browserid/api.js' %}"></script>
  <script src="{% static 'browserid/browserid.js' %}"></script>

  {% block footer_js %}{% endblock %}
  </body>
</html>
