{% extends "base.html" %}
{% load i18n %}

{% block head_js %}
  {% include "pizza-chart.html" with chart_div="collabs" chart_height=330 %}
{% endblock %}

{% block header %}
  <div class="row hidden-xs hidden-sm">
    <div class="col-lg-2 col-lg-offset-5 text-center">
      <img src="{{ STATIC_URL }}img/logo.png" />
    </div>
  </div>

  <h3 class="text-center hidden-xs hidden-sm">{% trans "INTERLEGIS COMMUNITIES" %}</h3>
{% endblock %}

{% block main-content %}

  <div class="row">
    <div class="col-lg-6 col-md-6">
      <h3 class="column-align">
        {% trans "Latest Collaborations" %}
      </h3>
      <a class="rss-icon" target="_blank"
         href="{% url 'rss_latest_colab' %}"
         title="{% trans 'RSS - Latest collaborations' %}">
      </a>
      <ul class="message-list">
        {% for result in latest_results %}
          {% include "search/preview-search.html" %}
        {% endfor %}
      </ul>
      <a class="column-align"
         href="{% url 'haystack_search' %}?order=latest">
        {% trans "View more collaborations..." %}
      </a>
      <div>&nbsp;</div>
    </div>


    <div class="col-lg-6 col-md-6">
      <h3 class="column-align">{% trans "Collaboration Graph" %}</h3>
      <div id="collabs"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-md-6">
      <h3 class="column-align">
        {% trans "Most Relevant Threads" %}
      </h3>
      <a class="rss-icon" target="_blank"
         href="{% url 'rss_hottest_threads' %}"
         title="{% trans "RSS - Most Relevant Threads" %}">
      </a>
      <ul class="message-list">
        {% for thread in hottest_threads %}
          {% include "message-preview.html" with doc=thread.latest_message %}
        {% endfor %}
      </ul>
      <a class="column-align"
         href="{% url 'thread_list' %}?order=hottest">
        {% trans "View more discussions..." %}
      </a>
      <div>&nbsp;</div>
    </div>

    <div class="col-lg-6 col-md-6">
      <h3 class="column-align">
        {% trans "Latest Threads" %}
      </h3>
      <a class="rss-icon" target="_blank"
         href="{% url 'rss_latest_threads' %}"
         title="{% trans "RSS - Latest Threads" %}">
      </a>
      <ul class="message-list">
        {% for thread in latest_threads %}
          {% include "message-preview.html" with doc=thread.latest_message %}
        {% endfor %}
      </ul>
      <a class="column-align" href="{% url 'thread_list' %}">
        {% trans "View more discussions..." %}
      </a>
      <div>&nbsp;</div>
    </div>
  </div>

{% endblock %}
