{% extends "base.html" %}
{% load i18n %}

{% block main-content %}
  <div class="col-lg-12">
    <h2>{% trans "OpenData - Communities Interlegis" %}</h2>
    <p>{% trans "If you are interested in any other data that is not provided by this API, please contact us via the ticketing system (you must be registered in order to create a ticket)." %}</p>

    <h3>{% trans "Retrieving data via API" %}</h3>
    <p>{% trans "Colab API works through HTTP/REST and always returning JSON objects." %}</p>
    <p>
      {% trans "The base API URL is" %}:
      {% url 'api_v1_top_level' api_name='v1' as BASE_API_URL %}
      <a href="{{ BASE_API_URL }}">{{ BASE_API_URL }}</a>
    </p>

    <ul class="list-unstyled">
      <li>
        <p>{% trans "Each model listed below has a resource_uri field available, which is the object's data URI." %}</p>
        <p>{% trans "The following list contains the available models to retrieve data and its fields available for filtering" %}:</p>
        <ul>
          <li>
            <strong><a href="{{ BASE_API_URL }}user/">user</a></strong>:
            {% trans "Fields" %}: <i>username, email, institution, role and bio</i>
            <p><strong>{% trans "The email field is not shown for user's privacy, but you can filter through it" %}</strong></p>
          </li>
          <li>
            <strong><a href="{{ BASE_API_URL }}emailaddress/">emailaddress</a></strong>:
            {% trans "Fields" %}: <i>user, address and real_name</i>
            <p>{% trans "The user field is a foreign key for user objects and it can be null" %}</p>
          </li>
          <li>
            <strong><a href="{{ BASE_API_URL }}message/">message</a></strong>:
            {% trans "Fields" %}: <i>from_address, body, id, received_time and subject</i>
            <p>{% trans  "The from_address field is a foreign key to emailaddress objects" %}</p>
          </li>
          <li>
            <strong><a href="{{ BASE_API_URL }}revision/">revision</a></strong>:
            {% trans "Fields" %}: <i>author, created, key, message and repository_name</i>
          </li>
          <li>
            <strong><a href="{{ BASE_API_URL }}ticket/">ticket</a></strong>:
            {% trans "Fields" %}: <i>author, component, created, description, id, keywords, milestone, modified, modified_by, priority, reporter, severity, status, summary and version</i>
          </li>
          <li>
            <strong><a href="{{ BASE_API_URL }}wiki/">wiki</a></strong>:
            {% trans "Fields" %}: <i>author, created, modified, modified_by, name and wiki_text</i>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="list-unstyled">
      <li><h3>{% trans 'Parameters' %}:</h3></li>
      <li class="divider"></li>
      <li>
        <h4><i>limit</i> - {% trans "Results per page" %}</h4>
        {% trans "Number of results to be displayed per page." %}
        <i>{% trans "Default: 20" %}</i>.
      </li>
      <li class="divider"></li>
      <li>
        <h4><i>offset</i> - {% trans "Starts of n element" %}</h4>
        {% trans "Where n is the index of the first result to appear in the page." %}
        <i>{% trans "Default: 0" %}</i>.
      </li>
      <li class="divider"><h3>{% trans "Filtering" %}:</h3></li>
      <li>
        <h4><i>fieldname</i> - {% trans "The field name" %}</h4>
        {% trans "If you are looking for a specific wiki, and you know the wiki's name, you can filter it as below" %}
        <p><i>...{{ BASE_API_URL }}wiki/?name={% trans "WikiName" %}</i></p>
        <p>{% trans "Where &quot;name&quot; is the fieldname and &quot;WikiName&quot; is the value you want to filter." %}</p>
        <h4>{% trans "Usage" %}</h4>
        <p>{% trans "You can also filter using Django lookup fields as below" %}</p>
        <p><i>...{{ BASE_API_URL }}wiki/?wiki_text__startswith={% trans "Wiki" %}</i></p>
        <p><i>...{{ BASE_API_URL }}ticket/?author__endswith={% trans "test" %}</i></p>
        <p><i>...{{ BASE_API_URL }}message/?body__contains={% trans "test" %}</i></p>
        <h4>{% trans "Usage with related models" %}</h4>
        <p><i>...{{ BASE_API_URL }}message/?from_address__user__email=usermailexample@host.com</i></p>
        <p><i>...{{ BASE_API_URL }}message/?from_address__real_name=Name</i></p>
        <p><strong>{% trans "Note: email filters must be exact." %} </strong></p>
      </li>
    </ul>
  </div>
{% endblock %}
