[Unit]
Description=Colab

[Service]
User=colab
ExecStart=/usr/lib/colab/bin/gunicorn colab.wsgi:application --bind=127.0.0.1:8001 --workers=3
Restart=on-failure

[Install]
WantedBy=multi-user.target
