[Unit]
Description=Colab

[Service]
User=colab
EnvironmentFile=-/etc/sysconfig/colab
PermissionsStartOnly=true
ExecStartPre=/usr/bin/mkdir -p /var/lock/colab
ExecStartPre=/usr/bin/chown -R colab:colab /var/lock/colab
ExecStart=/usr/lib/colab/bin/gunicorn colab.wsgi:application --config=/etc/colab/gunicorn.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
