{% load i18n get_operations %}

{% if filters %}
  <ul class="unstyled-list">
    <li class="selected" title="{% trans "Remove filter" %}">
      <a href="{% url 'haystack_search' %}?q={{ request.GET.q }}{% if request.GET.order %}&order={{ request.GET.order }}{% endif %}{% if request.GET.since %}&since={{ request.GET.since }}{% endif %}{% if request.GET.until %}&until={{ request.GET.until }}{% endif %}">
        <span class="glyphicon glyphicon-remove"></span> {{ filters.name }}
      </a>
    </li>
  </ul>
  <hr />
  <form role="form">
    <input type="hidden" name="q" value="{{ request.GET.q }}" />
    <input type="hidden" name="order" value="{{ request.GET.order }}" />
    <input type="hidden" name="type" value="{{ type_chosen }}" />
    <input type="hidden" name="since" value="{{ request.GET.since }}" />
    <input type="hidden" name="until" value="{{ request.GET.until }}" />

    {% for field_lookup, field_display, field_value, field_type, field_choices in filters.fields %}
      <div class="form-group">
        <label for="{{ field_lookup }}">{{ field_display }}</label>
        {% if field_type == "list" %}
          <select name="{{ field_lookup }}" class="form-control" multiple>
            {% for value, option in field_choices %}
              <option value="{{ value }}" {% if value in field_value %}selected{% endif %}>{{ option }}</option>
            {% endfor %}
          </select>
        {% elif field_lookup == "size" %}
          <ul class="unstyled-list">
            {% for value, option in size_choices %}
              {% with value|add:" "|add:size_chosen as sizelistadd %}
                {% if value in field_value %}
                  <li class="selected" title="{% trans "Remove filter" %}">
                    <span class="glyphicon glyphicon-remove"></span>
                    <a href="{% pop_from_get size=value %}">{{ option }}</a>
                  </li>
                {% else %}
                  <li>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <a href="{% append_to_get size=sizelistadd %}">{{ option }}</a>
                  </li>
                {% endif %}
              {% endwith %}
            {% endfor %}
          </ul>
        {% elif field_lookup == "mimetype" %}
          <ul class="unstyled-list">
            {% for value, option in mimetype_choices %}
              {% with value|add:" "|add:mimetype_chosen as mimelistadd %}
                {% if value in mimetype_chosen %}
                  <li class="selected"  title="{% trans "Remove filter" %}">
                    <span class="glyphicon glyphicon-remove"></span>
                    <a href="{% pop_from_get mimetype=value %}">{{ option }}</a>
                  </li>
                {% else %}
                  <li>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <a href="{% append_to_get mimetype=mimelistadd %}">{{ option }}</a>
                  </li>
                {% endif %}
              {% endwith %}
            {% endfor %}
          </ul>
        {% elif field_lookup == "used_by" %}
          <ul class="unstyled-list">
            {% for value, option in used_by_choices %}
              {% with value|add:" "|add:used_by_chosen as used_byadd %}
                {% if value in used_by_chosen %}
                  <li class="selected"  title="{% trans "Remove filter" %}">
                    <span class="glyphicon glyphicon-remove"></span>
                    <a href="{% pop_from_get used_by=value %}">{{ option }}</a>
                  </li>
                {% else %}
                  <li>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <a href="{% append_to_get used_by=used_byadd %}">{{ option }}</a>
                  </li>
                {% endif %}
              {% endwith %}
            {% endfor %}
          </ul>
        {% else %}
          <input type="text" class="form-control" placeholder="{{ field_display }}" name="{{ field_lookup }}" {% if field_value %}value="{{ field_value }}"{% endif %}>
        {% endif %}
      </div>
    {% endfor %}
    <button type="submit" class="btn btn-default pull-right">
      <span class="glyphicon glyphicon-filter"></span> {% trans 'Filter' %}
    </button>
  </form>
  <br /><br /><hr />
{% endif %}

<h4>{% trans "Sort by" %}</h4>
<ul class="unstyled-list">
  {% for option, dict_order in order_data.items %}
    <li>
      <span class="glyphicon glyphicon-chevron-right"></span>
      <a href="{% append_to_get order=option p=1 %}">
        {% ifequal request.GET.order option %}
          <strong>{{ dict_order.name }}</strong>
        {% else %}
          {{ dict_order.name }}
        {% endifequal %}
      </a>
    </li>
  {% endfor %}
</ul>

{% if not request.GET.type %}
  <h4>{% trans "Types" %}</h4>

  <ul class="unstyled-list">

      {% for type, name, icon in filters_options %}
      <li>
        <span class="glyphicon glyphicon-{{icon}}"></span>
        <a href="{% append_to_get type=type %}">{% trans name %}</a>
      </li>
      {% endfor %}
  </ul>
{% endif %}
<hr />

<!-- Desktop since and date filters -->
<form role="form" class="hidden-sm hidden-xs">
  {% for name, value in request.GET.items %}
    {% if value and not name == "since" and not name == "until" %}
      <input type="hidden" name="{{ name }}" value="{{ value }}" />
    {% endif %}
  {% endfor %}

  <div class="form-group">
    <label for="since">{% trans "Since" %}</label>
    <div class="input-group date" id="datepicker_since">
      <input type="text" class="form-control" placeholder="{% trans "Since" %}" name="since" value="{{ request.GET.since }}" />
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
  </div>
  <div class="form-group">
    <label for="until">{% trans "Until" %}</label>
    <div class="input-group date" id="datepicker_until">
      <input type="text" class="form-control" placeholder="{% trans "Until" %}" name="until" value="{{ request.GET.until }}" />
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
  </div>

  <p class="text-right">
    <button type="submit" class="btn btn-default">
      <span class="glyphicon glyphicon-filter"></span> {% trans "Filter" %}
    </button>
  </p>
</form>

<!-- Mobile since and date filters -->
<form role="form" class="hidden-md hidden-lg">
  {% for name, value in request.GET.items %}
    {% if value and not name == "since" and not name == "until" %}
      <input type="hidden" name="{{ name }}" value="{{ value }}" />
    {% endif %}
  {% endfor %}

  <div class="form-group">
    <label for="since">{% trans "Since" %}</label>
    <input type="date" class="form-control" placeholder="{% trans "Since" %}" name="since" value="{{ request.GET.since }}" />
  </div>
  <div class="form-group hidden-md hidden-lg">
    <label for="until">{% trans "Until" %}</label>
    <input type="date" class="form-control" placeholder="{% trans "Until" %}" name="until" value="{{ request.GET.until }}" />
  </div>

  <p class="text-right">
    <button type="submit" class="btn btn-default">
      <span class="glyphicon glyphicon-filter"></span> {% trans "Filter" %}
    </button>
  </p>
</form>
