{% extends 'base.html' %}
{% load static %}

{% block head_css %}
<style>
  div#main-content {
    margin-top: 65px;
  }

  div#main-content div.container {
    width: 1110px;
  }
  div#main-content div.flash-container{
    width: 85%;
  }
  #breadcrumbs {
    border: 0 !important;
  }

  #right-top-nav {
    margin-right: 5em !important;
  }
</style>
{% endblock %}

{% block head_js %}
<script type="text/javascript">
  $(function(){
    // TODO: Somehow when there's a merge request, all options just disapear
    // so this fix makes it show up again
    $('div.panel-body div.automerge_widget').removeClass('hide');

    // TODO: Somehow the dangerous settings are not showing up for default
    // but for a mistery, they come back to live if the first status is
    // not-hide
    $('div.danger-settings div.js-toggle-content').removeClass('hide');

    // TODO: For the same reason from the two walkarounds above
    $('div.new-group-member-holder').removeClass('hide');
  });
</script>
<script type="text/javascript" src="{% static 'third-party/bootstrap/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'third-party/jquery.cookie.js' %}"></script>
<script>jQuery.noConflict();</script>
{% endblock %}
