{% extends "base.html" %}
{% load i18n %}
{% load append_to_get %}
{% block main-content %}
  <div class="row">
    <div class="col-lg-2">
      <h2>{% trans "Search" %}</h2>
    </div>
    <span class="pull-right quiet">
      {{ page.object_list|length }} {% trans "documents found" %}
    </span>
  </div>
  <hr/>

  <div class="row">
    <div class="col-lg-2">
      <h3>{% trans "Filters" %}</h3>

      <h4>{% trans "Types" %}</h4>

      <ul class="none indent unstyled-list">
        <li {% ifequal type "wiki" %} title="{% trans "Remove filter" %}" {% endifequal %}>
          <span class="glyphicon glyphicon-file"></span>
          <a href="{% ifnotequal type "wiki" %} {% append_to_get type='wiki' %} {% else %} {% append_to_get type="" %} {% endifnotequal %}">{% trans "Wiki" %}</a>
        </li>
        <li {% ifequal type "thread" %} title="{% trans "Remove filter" %}" {% endifequal %}>
          <span class="glyphicon glyphicon-envelope"></span>
          <a href="{% ifnotequal type "thread" %} {% append_to_get type='thread' %} {% else %} {% append_to_get type="" %} {% endifnotequal %}">{% trans "Discussion" %}</a>
        </li>
        <li {% ifequal type "ticket" %} title="{% trans "Remove filter" %}" {% endifequal %}>
          <span class="glyphicon glyphicon-tag"></span>
          <a href="{% ifnotequal type "ticket" %} {% append_to_get type='ticket' %} {% else %} {% append_to_get type="" %} {% endifnotequal %}">{% trans "Ticket" %}</a>
        </li>
        <li {% ifequal type "changeset" %} title="{% trans "Remove filter" %}" {% endifequal %}>
          <span class="glyphicon glyphicon-align-right"></span>
          <a href="{% ifnotequal type "changeset" %} {% append_to_get type='changeset' %} {% else %} {% append_to_get type="" %} {% endifnotequal %}">{% trans "Changeset" %}</a>
        </li>
        <li {% ifequal type "user" %} title="{% trans "Remove filter" %}" {% endifequal %}>
          <span class="glyphicon glyphicon-user"></span>
          <a href="{% ifnotequal type "user" %} {% append_to_get type='user' %} {% else %} {% append_to_get type="" %} {% endifnotequal %}">{% trans "User" %}</a>
        </li>
      </ul>
    </div>
  
    <div class="col-lg-10">
      <ul class="none indent list-unstyled">
      {% for result in page.object_list  %}
        <br />
        {% if result.model_name == 'message' %}
          {% include "search/search-message-preview.html" %}
        {% else %}
          {% include "search/search-user-preview.html" %}
        {% endif %}
      {% empty %}
        <li class="text-center">
          {% trans "No results for your search." %}
        </li>
      {% endfor %}
      </ul>

      {% if docs.numFound %}
      <div>
        <span>
          {% if docs.has_previous %}
            <a href="{% append_to_get p=docs.previous_page_number %}">{% trans "Previous" %}</a>
          {% endif %}

          <span>
            {% trans "Page" %} {{ docs.page_num }} {% trans "of" %} {{ docs.num_of_pages }}
          </span>

          {% if docs.has_next %}
            <a href="{% append_to_get p=docs.next_page_number %}">{% trans "Next" %}</a>
          {% endif %}
        </span>
      </div>
    </div>
    {% endif %}
  </div>

{% endblock %}
