{% load i18n %}

<head>
</head>

<body>
  <h3 class="column-align">
    {% trans "Latest Collaborations" %}
  </h3>
  <a class="rss-icon" target="_blank"
     href="{% url 'rss_latest_colab' %}"
     title="{% trans 'RSS - Latest collaborations' %}">
  </a>
  <ul class="message-list">
    {% for result in latest_results %}
      {% include "message-preview.html" %}
    {% endfor %}
  </ul>
  <a class="column-align"
     href="{% url 'haystack_search' %}?order=latest">
    {% trans "View more collaborations..." %}
  </a>
  <div>&nbsp;</div>
</body>
