{% extends "base.html" %}
{% load i18n %}
{% load append_to_get %}
{% block main-content %}
<div>
  <h2>{% trans "Discussions" %}</h2>
  <hr/>

  <div class="row">
    <div class="col-lg-2">
      <h3>{% trans "Filters" %}</h3>

      <h4>{% trans "Sort by" %}</h4>
      <ul class="none">
        <li {% ifequal order_by "hottest" %} title="{% trans "Remove filter" %}" {% endifequal %}>
         <span class="glyphicon glyphicon-chevron-right"><a href="{% ifequal order_by "hottest" %} {% append_to_get order="",p=1 %} {% else %} {% append_to_get order='hottest',p=1 %} {% endifequal %}">
            {% trans "Relevance" %}</a></span></li>
        <li {% ifequal order_by "latest" %} title="{% trans "Remove filter" %}" {% endifequal %}>
          <span class="glyphicon glyphicon-chevron-right"><a href="{% ifequal order_by "latest" %} {% append_to_get order="",p=1 %} {% else %} {% append_to_get order='latest',p=1 %} {% endifequal %}">
            {% trans "Recent activity" %}</a></span></li>
      </ul>

      <div class="row">&nbsp;</div>

      <h4>{% trans "Lists" %}</h4>
      <ul class="none">
        {% for list in lists %}
          <li {% ifequal list.name selected_list %} title="{% trans "Remove filter" %}" {% endifequal %}>
            <span class="glyphicon glyphicon-chevron-right"><a href="{% ifnotequal list.name selected_list %} {% append_to_get list=list.name,p=1 %} {% else %} {% append_to_get list="",p=1 %}
            {% endifnotequal %}">{{ list.name }}</a></span></li>
        {% endfor %}
      </ul>
    </div>

    <div class="col-lg-10 last">
      <ul>
        {% for thread in threads.object_list %}
          {% include "message-preview.html" with doc=thread.latest_message %}
        {% empty %}
          <br/><br/>
          <span>
            <b>{% trans "No discussion found" %}</b>
          </span>
        {% endfor %}
      </ul>
      <div class="row">&nbsp;</div>

    </div>

    <div class="row">
      {% if n_results %}
        <div class="col-lg-10 col-lg-offset-2 text-center">
          {% if threads.has_previous %}
            <a href="{% append_to_get p=threads.previous_page_number %}">{% trans "Previous" %}</a>
          {% endif %}

          <span>
            {% trans "Page" %} {{ threads.number }} {% trans "of" %} {{ threads.paginator.num_pages }}
          </span>

          {% if threads.has_next %}
            <a href="{% append_to_get p=threads.next_page_number %}">{% trans "Next" %}</a>
          {% endif %}
      {% endif %}
    </div>

  </div>
</div>

{% endblock %}
