{% load i18n %}

{% if doc.Title %}
<li class="preview-message">
  {% if doc.Type %}
  <img alt="{{ doc.Type }}" title="{{ doc.Type }}"
       src="{{ STATIC_URL }}img/{{ doc.Type }}.png" />
  {% else %}
      <span class="glyphicon glyphicon-envelope"></span>
<!--  <img alt="thread" title="thread"
       src="{{ STATIC_URL }}img/thread.png" /> -->
  {% endif %}

  {% if doc.mailinglist %}
  <a href="{% url 'super_archives.views.list_messages' %}?list={{ doc.mailinglist }}">
    <span class="tag">{{ doc.mailinglist }}</span>
  </a>
  {% endif %}

  <span class="subject">
    <a href="{{ doc.url }}"
       {% if
       title="{% filter striptags|truncatewords:50 %}
                {{ doc.Description|escape }}
              {% endfilter %}">
      {{ doc.Title }}
    </a>
  </span>

  <span class="quiet">-
    {{ doc.Description|striptags }}
  </span>

  <div class="quiet">
    <span class="pull-left">
      {% if doc.from_address.user.get_absolute_url or doc.from_address.get_full_name or doc.last_author or doc.Creator %}
        {% trans "by" %}
      {% endif %}

      {% if doc.from_address.user.get_absolute_url %}
      <a href="{{ doc.from_address.user.get_absolute_url }}">
        {{ doc.from_address.user.get_full_name }}
      </a>
      {% elif doc.from_address.get_full_name %}
        <span>{{ doc.from_address.get_full_name }}</span>
      {% else %}
        {% firstof doc.last_author doc.Creator "" %}
      {% endif %}
    </span>

    <span class="pull-right">
      {{ doc.modified|timesince }}
      {% trans "ago" %}
    </span>
  </div>
</li>
{% endif %}
