{% load i18n %}

<head>
</head>

<body>
  <h3 class="column-align">
    {% trans "Most Relevant Threads" %}
  </h3>
  <a class="rss-icon" target="_blank"
     href="{% url 'rss_hottest_threads' %}"
     title="{% trans "RSS - Most Relevant Threads" %}">
  </a>
  <ul class="message-list">
    {% for thread in hottest_threads %}
      {% include "message-preview.html" with result=thread %}
    {% endfor %}
  </ul>
  <a href="{% url 'haystack_search' %}?type=thread">
    {% trans "View more discussions..." %}
  </a>
  <div>&nbsp;</div>
</body>
