{% load i18n %}

<head>
</head>

<body>
  <h3 class="column-align">
    {% trans "Latest Threads" %}
  </h3>
  <a class="rss-icon" target="_blank"
     href="{% url 'rss_latest_threads' %}"
     title="{% trans "RSS - Latest Threads" %}">
  </a>
  <ul class="message-list">
    {% for thread in latest_threads %}
      {% include "message-preview.html" with result=thread.latest_message %}
    {% endfor %}
  </ul>
  <a href="{% url 'haystack_search' %}?type=thread&amp;order=latest">
    {% trans "View more discussions..." %}
  </a>
  <div>&nbsp;</div>
</body>
