/* Header */
#header-searchbox {
    width: 290px;
}

#header-menu {
    line-height: 33px;
}

#header-hr {
    margin-top: 0;
}
/* End of Header */


/* From message-preview.html*/
.quiet {
    color: #999;
    font-size: 95%;
}

.preview-message {
    white-space: nowrap;
    overflow: hidden;
    line-height: 28px;
    border-bottom: solid 1px #ddd;
}

.preview-message a {
    text-decoration: none;
}

.preview-message img {
    margin-right: 5px;
}

.tag {
    text-decoration: none;
    background-color: #2183b3;
    padding: 2px 4px;
    border-radius: 5px;
    font-size: 90%;
    color: #fff;
    margin-right: 5px;
    line-height: 2;
    white-space: nowrap;
}

.tag:hover,
.tag:focus {
    background-color: #21b6e6;
    color: #fff;
}

.tag-cloud .size-1 {
    font-size: 90%;
}
.tag-cloud .size-2 {
    font-size: 100%;
}
.tag-cloud .size-3 {
    font-size: 130%;
}
.tag-cloud .size-4 {
    font-size: 150%;
}

.subject,
.subject a {
    color: #000;
}

.subject a:hover,
.subject a:focus {
    text-decoration: underline;
    color: #335;
}

.subject img {
    margin-right: 5px;
}
/* End of message-preview.html */

.container {
    /* Overwritting max-width for better web responsive */
    max-width: 95% !important;
}

/* Forms */ 
.required label:before {
    color: #f00;
    content: "* ";
}

input[type="text"],
input[type="password"] {
    width: 300px;
    padding: 3px;
}
/* End Forms */

/* Changing Bootstrap*/
fieldset>legend {
    display:block;
    font-weight:bold;
    font-size:1.2em;
    margin-top:-0.2em;
    margin-bottom:0em;
    border: none;
}

.well {
    background:#e5eCf9 !important;
}

.col-lg-6 .well{ 
    max-width:570px;
}

.col-lg-3 .well {
    max-width:285px;
}
/* End changes */

.rss-icon {
    background-image: url(../img/rss.png);
    width: 16px;
    height: 16px;
}

.column-align {
    display: inline-block;
    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 10px;
    vertical-align: middle;
}

ul.none {
    list-style-type:none;
    padding:3px 0;
    margin:10px 0;
}
