{% extends "base.html" %}
{% load i18n %}
{% load form_field %}

{% block main-content %}

{% if form.errors %}
  <div>
    <b>{% trans "Please correct the errors below and try again." %}</b>
  </div>
{% endif %}

<form method="POST" action=".">
  {% csrf_token %}

  <fieldset>
    {% render_form_field form.old_password %}
    {% render_form_field form.new_password1 %}
    {% render_form_field form.new_password2 %}
    <input type="submit" value="{% trans 'Change password' %}"/>
  </fieldset>
  
</form>
{% endblock %}
