{% load i18n %}
<html>
  <head>

    <!-- Framework CSS -->

    <link rel="stylesheet" href="{{ STATIC_URL }}third-party/dist/css/bootstrap.css" type="text/css" media="screen, projection" />

    <link rel="stylesheet" href="{{ STATIC_URL }}third-party/converse.js/converse.css" type="text/css" media="screen, projection" />

    <script data-main="{{ STATIC_URL }}third-party/dist/css/bootstrap.js" src="{{ STATIC_URL }}third-party/converse.js/Libraries/require-jquery.js"></script>

    <script data-main="{{ STATIC_URL }}third-party/converse.js/main" src="{{ STATIC_URL }}third-party/converse.js/Libraries/require-jquery.js"></script>

    {% block head_js %}
    {% endblock %}
    {% block head_css %}
    {% endblock %}

    {% block google_analytics %}
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-30841845-2']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    {% endblock %}

  </head>

  <body>
    <div>
      <div>
        {% if not user.is_authenticated %}
        <span>
          <a href="{% url 'signup' %}">{% trans "Sign up" %}</a>
        </span>
        <span>
          <a href="{% url 'login' %}?next={{ request.path }}">{% trans "Login" %}</a>
        </span>
        {% else %}
        <span>
          {% trans "authenticated as" %} <b>{{ user.username }}</b>
        </span>
        <span>
          <a href="{% url 'user_profile' user.username %}">
            {% trans "My Profile" %}
          </a>
        </span>
        <span>
          <a href="{% url 'logout' %}">
            {% trans "Logout" %}
          </a>
        </span>
        {% endif %}
      </div>

      {% block header %}
        <h1><span>{% trans "COLAB" %}</span>
          <a href="/">
            <img src="{{ STATIC_URL }}img/logo_small.png" alt="{% trans 'Colab' %}" /></a>
        </h1>
      {% endblock %}

      <div>

        <span>
          <a href="{% url 'thread_list' %}">{% trans "Discussions" %}</a>
        </span>
        <span>
          <a href="http://colab.interlegis.gov.br/wiki" target="_blank">{% trans "Wiki" %}</a>
        </span>
        <span>
          <a href="http://listas.interlegis.gov.br/mailman/listinfo/" 
             target="_blank">{% trans "Contribute" %}</a>
        </span>
        <span>
          <a href="http://colab.interlegis.leg.br/newticket"
             target="_blank">{% trans "Report a problem" %}</a>
        </span>
        <span>
          <a href="{% url "feedzilla_index" %}">{% trans "Planet" %}</a>
        </span>

        <span>
          <form action="/search/" method="GET">
            <input name="q" id="header-searchbox" value="{{ request.GET.q }}"
                   type="text" placeholder="{% trans 'Search here...' %}" />
            <input type="submit" value="{% trans 'Search' %}"></input>
          </form>
        </span>
      </div>
    </div>

    <hr/>

    <div>
      {% block main-content %} {% endblock %}
    </div>

    <hr/>

    <div>
      {% block footer %}
        <p><a href="{% url 'opendata' %}"><img src="{{ STATIC_URL }}img/opendata3.png"/></a></p>
        <p>{% trans "The contents of this site is published under license" %} <a
          href="http://creativecommons.org/licenses/by-nc-sa/2.0/br/">{% trans "Creative Commons - attribution, non-commercial" %}</a>
        </p>
      {% endblock %}
    </div>

  <div id="chatpanel">
      <div id="collective-xmpp-chat-data"></div>
      <div id="toggle-controlbox">
          <a href="#" class="chat toggle-online-users">
              <strong class="conn-feedback">Mensageiro</strong> <strong style="display: none" id="online-count">(0)</strong>
          </a>
      </div>
  </div>

<script>
    require(["jquery", "converse"], function ($, converse) {
        converse.initialize({
            auto_list_rooms: false,
            auto_subscribe: false,
            bosh_service_url: 'https://bind.opkode.im', // Please use this connection manager only for testing purposes
            hide_muc_server: false,
            i18n: locales['{{ request.LANGUAGE_CODE }}'], // Refer to ./locale/locales.js to see which locales are supported
            prebind: false,
            show_controlbox_by_default: true,
            xhr_user_search: false
        });
    });
</script>


  </body>
</html>
