{% extends "base.html" %}
{% load form_field %}
{% load i18n %}

{% block main-content %}
  {% if form.errors %}
  <div class="error">
    {{ form.non_field_errors }} 
  </div>
  {% endif %}
  
  <div id="login-form-wrapper">
    <form class="span-24" method="POST" action="{% url 'login' %}">
      {% csrf_token %}

      <fieldset class="span-10 box">
        <legend>{% trans "Login" %}</legend>
        <p>
          {{ form.username.label_tag }}
          <br/>
          {{ form.username }}
        </p>
        <p>
          {{ form.password.label_tag }}
          <br/>
          {{ form.password }}
        </p>
        
        <input type="submit" value="Login" />
        <a class="right" href="{% url 'request_reset_password' %}">{% trans "I forgot my password" %}</a>
        
        <input type="hidden" name="next" value="{% firstof next '/' %}" />
      </fieldset>
    
      <fieldset class="span-12 box last">
        <legend>{% trans "Not already registered? Sign up!" %}</legend>
        <p class="prepend-1 span-10 justify large">
        {% blocktrans %}To access some features of Colab you must be registered. 
        If you are not already registered systems in the community Interlegis 
        click on the link below and get to work!
        {% endblocktrans %}</p>

        <a class="span-11 center large" 
           href="{% url 'signup' %}">{% trans "Sign up" %}</a>
      </fieldset>
    </form>
  </div>
{% endblock %}
