{% extends "base.html" %}
{% load form_field %}
{% load i18n %}
{% block main-content %}

<h2>{% trans "Sign up" %}</h2>

{% if form.errors %}
<div><b>{% trans "Please correct the errors below and try again." %}</b></div>
{% endif %}

<div>
  <label>{% trans "Avatar" %}</label >
  <div>
    <img src="{{ STATIC_URL }}img/user.png" alt="user"/>
  </div>
  <p>
    {% trans "Add an avatar to your account using" %} <a href="http://gravatar.com/" target="_blank">Gravatar</a>.
  </p>
</div>


<p>
  <label>{% trans "Required fields" %}</label>  
</p>

<form id="signup" action="." method="post">
  {% csrf_token %}
  
  <fieldset>
    <legend>{% trans "Access Information" %}</legend>
    {% render_form_field form.username %}
    {% render_form_field form.password1 %}
    {% render_form_field form.password2 %}
  </fieldset>

  <fieldset>
    <legend>{% trans "Professionals Information" %}</legend>
    {% render_form_field form.institution %}
    {% render_form_field form.role %}
  </fieldset>
  
  <fieldset>
    <legend>{% trans "Personal Information" %}</legend>    
    {% render_form_field form.first_name %}
    {% render_form_field form.last_name %}
    {% render_form_field form.email %}
  </fieldset>

  <fieldset>
    <legend>{% trans "Others" %}</legend>
    {% render_form_field form.twitter %}
    {% render_form_field form.facebook %}
    {% render_form_field form.google_talk %}
    {% render_form_field form.webpage %}
  </fieldset>
 
  <fieldset>
    <legend>{% trans "Subscribe to mail lists" %}</legend>
    {% render_form_field form.lists %}
  </fieldset>
 
  <div>
    <input type="submit" value="{% trans 'Register' %}"/>
  </div>
</form>
{% endblock %}
