{% extends "base.html" %}
{% load i18n %}
{% load form_field %}

{% block head_js %}
  {% include "pizza-chart.html" with chart_div="collabs" chart_width=390 chart_height=230 %}
{% endblock %}

{% block main-content %}
  {% if not user_profile %}
    <span>
      <b>{% trans "User not registered." %}</b> {% trans "Is that you?" %}
      <a href="{% url 'signup' %}">{% trans "Click here and sign up." %}</a>
    </span>

  {% else %}

    {% ifequal request.user.username user_profile.user.username %}
      <span>
        {% trans "Hey, look at you! Do you want to " %}
        <a href="{% url 'user_profile_update' request.user %}">{% trans "update your profile" %}</a>?
      </span>
    {% endifequal %}

  {% endif %}

  <div>
    <h2>{{ email_address.get_full_name }}</h2>

    <div>
      <img class="avatar" width="120px" heigth="120px"
           src="http://www.gravatar.com/avatar/{{ email_address.md5 }}?s=120&d=identicon" />
    </div>

    <div>
      <div>
        <form action="{% url 'user_profile_update' request.user %}" method='post'>
          {% csrf_token %}

          <h3>{% trans "Personal Information" %}</h3>
          <ul>
            <li>
              {{ form.username.label_tag }}: {{ user_profile.user.username }}
              {% ifequal request.user.username user_profile.user.username %}
                (<a href="{% url 'change_password' %}">{% trans "change password" %}</a>)
              {% endifequal %}
            </li>
            <li>
              {% render_form_field form.institution user_profile.institution %}
            </li>
            <li>
              {% render_form_field form.role user_profile.role %}
            </li>
          </ul>

          <hr />

          <h3>{% trans "Other informations" %}</h3>
          <ul>
            <li>
              {% render_form_field form.twitter user_profile.twitter %}
            </li>
            <li>
              {% render_form_field form.facebook user_profile.facebook %}
            </li>
            <li>
              {% render_form_field form.google_talk user_profile.google_talk %}
            </li>
            <li>
              {% render_form_field form.webpage user_profile.webpage %}
            </li>
          </ul>

          <hr />
          {% if editable %}
            <span>
              <input type="submit" value="{% trans 'Save' %}"/>
            </span>
          {% endif %}
        </form>
      </div>

      {% if type_count %}
      <div>
        <h3>{% trans "Collaborations by Area" %}</h3>
        <div></div>
      </div>
      {% endif %}
    </div>

    <hr />

    <div>
      <h3>{% trans "Latest posted" %} </h3>
      <ul>
      {% for doc in emails %}
        {% include "message-preview.html" %}
      {% empty %}
        <li>{% trans "There are no posts by this user so far." %}</li>
      {% endfor %}
      </ul>
    </div>

    <div>
      <h3>{% trans "Community inside participations" %}</h3>
      <ul>
      {% for doc in docs %}
        {% include "message-preview.html" %}
      {% empty %}
        <li>{% trans "No contributions of this user so far." %}</li>
      {% endfor %}
      </ul>
    </div>

  </div>
{% endblock %}
