{% extends "base.html" %}
{% load i18n %}

{% block main-content %}
<form method="POST" role="form">
  {% csrf_token %}
  <div class="row">
    <h2>{% trans "Change XMPP Client and SVN Password" %}</h2>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      {% for field in form %}
        <div class="form-group required{% if field.errors %} alert alert-danger has-error{% endif %}">
          <label for="{{ field.name }}" class="control-label">{{ field.label }}</label>
          {{ field }}
          {{ field.errors }}
        </div>
      {% endfor %}
      <button class="btn btn-primary">{% trans "Change Password" %}</button>
    </div>
  </div>
</form>
{% endblock %}
