{% extends "base.html" %}
{% load form_field %}
{% load i18n %}
{% block main-content %}

<h2>{% trans "Sign up" %}</h2>

{% if form.errors %}
<div class="alert"><b>{% trans "Please correct the errors below and try again." %}</b></div>
{% endif %}

<div class="avatar-placeholder box">
  <label class="avatar-placeholder">{% trans "Avatar" %}</label >
  <div class="avatar-image avatar">
    <img  src="{{ STATIC_URL }}img/user.png" alt="user"/>
  </div>
  <p>
    {% trans "Add an avatar to your account using" %} <a href="http://gravatar.com/" target="_blank">Gravatar</a>.
  </p>
</div>


<p class="required span-24 last">
  <label>{% trans "Required fields" %}</label>
</p>

<form class="span-24" id="signup" action="." method="post">
  {% csrf_token %}

  <fieldset class="box span-11">
    <legend>{% trans "Personal Information" %}</legend>
    {% render_form_field form.first_name %}
    {% render_form_field form.last_name %}
    {% render_form_field form.email %}
    {% render_form_field form.username %}
  </fieldset>

  <fieldset class="box last">
    <legend>{% trans "Professionals Information" %}</legend>
    {% render_form_field form.institution %}
    {% render_form_field form.role %}
  </fieldset>

  <fieldset class="box span-11">
    <legend>{% trans "Others" %}</legend>
    {% render_form_field form.twitter %}
    {% render_form_field form.facebook %}
    {% render_form_field form.google_talk %}
    {% render_form_field form.webpage %}
  </fieldset>

  <fieldset class="box last">
    <legend>{% trans "Subscribe to mail lists" %}</legend>
    {% render_form_field form.lists %}
  </fieldset>

  <div class="span-24">
    <input class="right" type="submit" value="{% trans 'Register' %}"/>
  </div>
</form>
{% endblock %}
