{% extends "base.html" %}
{% load form_field %}
{% load i18n %}
{% block main-content %}

<h2>{% trans "Sign up" %}</h2>

<div class="row">
  {% if form.errors %}
  <div class="alert alert-danger">
    <b>{% trans "Please correct the errors below and try again" %}</b>
  </div>
  {% endif %}

    <div>
      {% for field in form %}
        {% if field.errors %}
          {{ field.label }}
        {% endif %}
      {% endfor %}
    </div>
</div>


<p class="required">
  <label>{% trans "Required fields" %}</label>
</p>

<form action="." method="post" role="form" class="form-horizontal signup">
  {% csrf_token %}

  <div class="row">

    <div>
      {% for legend, fields in fieldsets %}
      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12" style="display: inline-block; vertical-align:top;">
        <div class="well">
          <fieldset>
            <legend>{{ legend }}</legend>
            {% for field in fields %}
              <div class="form-group{% if field.field.required %} required{% endif %}{% if field.errors %} alert alert-danger has-error{% endif %}">
                <label for="first_name" class="control-label">
                  {{ field.label }}
                </label>
                {% if field.name == 'username' %}
                  <input id="id_username" name="username" type="text" class="form-control">
                {% elif field.name == 'lists' %}
                  {% for choice in field %}
                    <div class="checkbox">
                      {{ choice }}
                    </div>
                  {% endfor %}
                {% else %}
                  {{ field }}
                {% endif %}
                {{ field.errors }}
              </div>

            {% endfor %}
          </fieldset>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>

  <div class="row">
    <div class="submit">
      <input type="submit" value="{% trans 'Register' %}" class="btn btn-primary btn-lg btn-block">
    </div>
  </div>

</form>

{% endblock %}
