{% load i18n %}

<div class="blog-post-item">
    <a name="post-{{ post.pk }}"></a>

    <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>

    <div class="post-meta">{% trans "From" %} <a href="{{ post.feed.site_url }}">{{ post.feed.author_or_title }}</a> {% trans "on" %} {{ post.created }}</div>

    {{ post.summary|safe }}

    <b><a href="{{ post.get_absolute_url }}">{% trans "Read original" %}</a></b>

    {% if post.tags.count %}
    <div class="tags">
      <span><b>Tags:</b>
        {% for tag in post.tags.all %}
          <a href="{% url "feedzilla_tag" tag.name %}" class="tag">{{ tag }}</a>
        {% endfor %}
      </span>
    </div>
    {% endif %}
</div>
