{% extends 'base.html' %}
{% load i18n feedzilla_tags %}

{% block title %}Blogs{% endblock %}

{% block main-content %}
    <h2>{% trans 'Community Blogs' %}</h2>
    <hr/>

    <div id="planet" class="row">
      <div class="col-lg-9 col-md-8 col-sm-12">
        {% block feedzilla_content %}{% endblock %}
      </div>

      <div class="col-lg-3 col-md-4 col-sm-12">
        <div class="well">
          <h3>{% trans 'Tags' %}</h3>
          {% feedzilla_tag_cloud %}
        </div>
        <div class="well">
          <h3>{% trans 'Source Blogs' %}</h3>
          {% feedzilla_donor_list order_by="title" %}
          {% if user.is_authenticated %}
            <div class="text-center">
              <a class="btn btn-primary" href="{% url "feedzilla_submit_blog" %}">{% trans "Submit a blog" %}</a>
            </div>
          {% endif %}
        </div>
      </div>
    </div>

{% endblock %}
