{% extends "base.html" %}
{% load i18n %}
{% load form_field %}

{% block main-content %}

{% if form.errors %}
  <div class="alert">
    <b>Por favor, corrija os erros abaixo e tente novamente.</b>
  </div>
{% endif %}

<form method="POST" action=".">
  {% csrf_token %}

  <fieldset class="span-24 box">
    {% render_form_field form.old_password %}
    {% render_form_field form.new_password1 %}
    {% render_form_field form.new_password2 %}
    <input type="submit" value="{% trans 'Alterar senha' %}"/>
  </fieldset>
  
</form>
{% endblock %}