{% load i18n %}
{% load static from staticfiles %}

<script src="{% static 'third-party/chartjs/js/Chart.min.js' %}"></script>
<script src="{% static 'third-party/chroma/js/chroma.min.js' %}"></script>

<script>
$(function () {
    var color;
    var colors = ['#2F7ED8', '#0D233A', '#8BBC21', '#910000', '#1AADCE',
        '#492970', '#F28F43', '#77A1E5', '#C42525', '#A6C96A', '#FFDB42',
        '#A2B4BD', '#AA734A'];
    var description = $('.{{ chart_canvas }} > p');
    var data = [];

    {% for option, value in chart_data.items %}
	    {% if value > 0 %}
	    color = colors.shift();
	    data.push(
		{
		    value: {{ value }},
		    color: color,
		    highlight: chroma(color).darken().hex(),
		    label: "{{ option }}"
		}
	    );
	    description.append($('<label>')
		.addClass('label label-default')
		.css('background', color)
		.append('{{ option }}')
	    );
	    description.append(' ');
	    {% endif %}
    {% endfor %}

    var context = $('.{{ chart_canvas }} > canvas').get(0).getContext("2d");
    var chart = new Chart(context).Pie(data, {
        animateRotate: true,
        animationSteps: 30,
        animationEasing: "easeInOutCirc",
        segmentStrokeWidth: 1,
        tooltipFontSize: 14,
    });
});
</script>
