{% load i18n %}

{% blocktrans %}
  Este email foi enviado para confirmar a solicitação de troca de senha 
  para o usuário <b>{{ username }}</b> do Colab Interlegis. Caso você não 
  tenha realizado a solicitação por favor ignore esta mensagem.
{% endblocktrans %}

<br/>
<br/>

{% blocktrans %}
  Para realizar a troca de senha acesse o link abaixo:
{% endblocktrans %}
<br/>

<a href="http://{{ server_name }}{% url reset_password hash %}"> 
  http://{{ server_name }}{% url reset_password hash %}
</a>