{% load i18n gravatar plugins %}
{% load static from staticfiles %}

<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">

      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img alt="Colab" src="{% static 'img/logo.svg' %}"></a>
    </div>
    <div class="collapse navbar-collapse navbar-main">
      <ul class="nav navbar-nav">

        <li>
          <a href="{% url 'thread_list' %}">{% trans "Groups" %}</a>
        </li>

        {% plugins_menu %}

        <li class="hidden-lg hidden-md">
          <a href="{% url 'haystack_search' %}?q=">{% trans "Search" %}</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        {% if not user.is_authenticated %}

          <li class="dropdown hidden-xs hidden-lg">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Acesso <b class="caret"></b></a>
            <ul class="dropdown-menu">
              {% trans 'Login' as login_text %}
              <li><a href="{% url 'signup' %}">{% trans "Register" %}</a></li>
              <li><a href="{% url 'login' %}">{% trans "Login" %}</a></li>
            </ul>
          </li>
          {% trans 'Login' as login_text %}
            <li class="visible-xs hidden-sm hidden-md"><a href="{% url 'signup' %}">{% trans "Register" %}</a></li>
            <li class="visible-xs hidden-sm hidden-md"><a href="{% url 'login' %}">{% trans "Login" %}</a></li>
        {% else %}
          <li id="user-menu" class="dropdown">
            <a href="#" class="dropdown-toggle user" data-toggle="dropdown">{% gravatar user.email 40 %} <b class="caret"></b>&nbsp;&nbsp;</a>
            <ul class="dropdown-menu" role="menu">
              <li>
                <div class="wrapper">
                  <div class="thumbnail">{% gravatar user.email 100 %}</div>
                  <div class="user-info">
                    <span><b>{{ user.get_full_name }}</b></span>
                    <span class="quiet">{{ user.email }}</span>
                  </div>
                  <div>
                    <a class="btn btn-info pull-left" href="{% url 'user_profile' user.username %}">{% trans "My Profile" %}</a>
                    {% trans 'Logout' as logout_text %}
                    <a class="btn btn-default pull-right" href="{% url 'logout' %}"> {% trans "Logout" %}</a>
                  </div>
                </div>
              </li>
            </ul>
          </li>
        {% endif %}
      </ul>

      <form action="{% url 'haystack_search' %}" method="GET" id="search-form" class="navbar-form navbar-right hidden-xs hidden-sm" role="search">
        <div class="form-group">
          <label class="sr-only" for="header-searchbox">{% trans 'Search here...' %}</label>
          <input name="q" id="header-searchbox"
                 class="form-control" value="{{ request.GET.q }}"
                 type="search" placeholder="{% trans 'Search here...' %}" />
        </div>
        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
      </form>
    </div>
  </div>
</nav>
