{% extends "base.html" %}
{% load i18n %}

{% block head_js %}
  {% include "pizza-chart.html" with chart_div="collabs" chart_width=410 chart_height=330 %}
{% endblock %}

{% block header %}
  <div id="header-logo" class="span-24">
    <img class="center" src="{{ STATIC_URL }}img/logo.png" />
  </div>

  <hr class="space"/>

  <h2 class="span-24 center">{% trans "COMUNIDADES INTERLEGIS" %}</h2>
{% endblock %}

{% block main-content %}

  <div class="span-12 colborder">
    <h3>{% trans "Últimas Colaborações:" %}</h3>
    <ul>
      {% for doc in latest_docs %}
        {% include "message-preview.html" %}
      {% endfor %}
    </ul>
    <hr class="space"/>
    <a class="right" href="{% url search %}?o=modified+desc">
      {% trans "Ver mais colaborações..." %}
    </a>
  </div>

  <div class="span-11 last">
    <h3>{% trans "Distribuição das Colaborações:" %}</h3>
    <div id="collabs"></div>
  </div>

  <hr class="space"/>
  <hr/>

  <div class="span-12 colborder">
    <h3>{% trans "Discussões Mais Relevantes:" %}</h3>
    <ul>
      {% for thread in hotest_threads %}
        {% include "message-preview.html" with doc=thread.latest_message %}
      {% endfor %}
    </ul>
    <hr class="space"/>
    <a class="right" href="{% url thread_list %}?order=hotest">
      {% trans "Ver mais discussões relevantes..." %}
    </a>
  </div>

  <div class="span-11 last">
    <h3>{% trans "Últimas Discussões:" %}</h3>
    <ul>
      {% for thread in latest_threads %}
        {% include "message-preview.html" with doc=thread.latest_message %}
      {% endfor %}
    </ul>
    <hr class="space"/>
    <a class="right" href="{% url thread_list %}">
      {% trans "Ver mais discussões..." %}
    </a>
  </div>

{% endblock %}
