{% load i18n %}
{% load static from staticfiles %}

<script src="{% static 'third-party/highcharts/js/highcharts.js' %}"></script>
<script>
$(function () {
  $('#{{ chart_div }}').highcharts({
    chart: {
      type: 'pie',
      height: {{ chart_height }},
    },

    // Add selectpoint and legends to the chart
    plotOptions: {
      pie: {
        allowPointSelect: true,
        cursor: 'pointer',
        dataLabels: {
          enabled: false
        },
        showInLegend: true,
      }
    },

    // Removes highcharts watermark
    credits: {
      enabled: false
    },

    title: {
      text: {% if chart_title %}'{{ chart_title }}'{% else %}''{% endif %}
    },

    series: [{
      data: [
        {% for option, value in chart_data.items %}
          ['{{ option }}', {{ value }}],
        {% endfor %}
      ],
      name: '{{ name }}'
    }]
  });
});
</script>
