{% extends "base.html" %}
{% load i18n %}
{% load form_field %}

{% block head_js %}
  {% include "pizza-chart.html" with chart_div="collabs" chart_width=390 chart_height=230 %}
{% endblock %}

{% block main-content %}
  {% if not user_profile %}
    <span class="notice span-24">
      <b>Usuário não cadastrado.</b> Você é dono deste perfil?
      <a href="{% url signup %}">Clique aqui
      e cadastre-se.</a>
    </span>

  {% else %}

    {% ifequal request.user.username user_profile.user.username %}
      <span class="success span-24">
        Ei, olha você aqui! Quer
        <a href="{% url user_profile_update request.user %}">editar seu perfil</a>?
      </span>
    {% endifequal %}

  {% endif %}

  <div id="user-profile">
    <h2>{{ email_address.get_full_name }}</h2>

    <div class="span-4">
      <img class="avatar" width="120px" heigth="120px"
           src="http://www.gravatar.com/avatar/{{ email_address.md5 }}?s=120&d=identicon" />
    </div>

    <div class="span-20 last">
      <div class="span-10">
        <form action="{% url user_profile_update request.user %}" method='post'>
          {% csrf_token %}

          <h3>Informações Pessoais</h3>
          <ul id="user-info">
            <li>
              {{ form.username.label_tag }}: {{ user_profile.user.username }}
              {% ifequal request.user.username user_profile.user.username %}
                (<a href="{% url change_password %}">{% trans "alterar senha" %}</a>)
              {% endifequal %}
            </li>
            <li>
              {% render_form_field form.institution user_profile.institution %}
            </li>
            <li>
              {% render_form_field form.role user_profile.role %}
            </li>
          </ul>

          <hr class="space" />

          <h3>Outras Informações</h3>
          <ul>
            <li>
              {% render_form_field form.twitter user_profile.twitter %}
            </li>
            <li>
              {% render_form_field form.facebook user_profile.facebook %}
            </li>
            <li>
              {% render_form_field form.google_talk user_profile.google_talk %}
            </li>
            <li>
              {% render_form_field form.webpage user_profile.webpage %}
            </li>
          </ul>

          <hr class="space"/>
          {% if editable %}
            <span class="span-5">
              <input class="right" type="submit" value="Salvar"/>
            </span>
          {% endif %}
        </form>
      </div>

      {% if type_count %}
      <div class="span-10 last">
        <h3 class="center">{% trans "Colaborações por Área" %}</h3>
        <div id="collabs"></div>
      </div>
      {% endif %}
    </div>

    <hr class="space" />

    <div class="span-13">
      <h3>{% trans "Últimas Mensagens Enviadas" %} </h3>
      <ul class="colborder">
      {% for doc in emails %}
        {% include "message-preview.html" %}
      {% empty %}
        <li>Não existem mensagens enviadas por este usuário até o momento.</li>
      {% endfor %}
      </ul>
    </div>

    <div class="span-11 last">
      <h3>{% trans "Participações na Comunidade" %}</h3>
      <ul>
      {% for doc in docs %}
        {% include "message-preview.html" %}
      {% empty %}
        <li>Sem colaborações deste usuário até o momento.</li>
      {% endfor %}
      </ul>
    </div>

  </div>
{% endblock %}
