{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Groups'|title %}{% endblock %}

{% block main-content %}
  <h2>{% trans 'Groups'|title %}</h2>
  <hr/>

  {% for mailinglist in lists %}
    {% if mailinglist.get_latest or mailinglist.get_most_relevant %}
      <h3><b>{{ mailinglist.name|title|lower }} {% if mailinglist.description %} ({{ mailinglist.description }}){% endif %}</b></h3>
      <div class="btn-group btn-group-sm">
        <a href="#" class="btn btn-default" disabled="disabled">{% blocktrans with number_of_users=mailinglist.get_number_of_users %}{{ number_of_users }} members{% endblocktrans %}</a>
      </div>
      <hr/>

      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <h4>{% trans 'latest'|title %}</h4>
          <ul class="message-list">
            {% for thread in mailinglist.get_latest %}
              {% include "message-preview.html" with result=thread.latest_message %}
            {% endfor %}
          </ul>
          <div class="text-right">
            <a href="{% url 'haystack_search' %}?order=latest&list={{ mailinglist.name }}&type=thread">
              {% trans "more..." %}
            </a>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <h4>{% trans 'most relevant'|title %}</h4>
          <ul class="message-list">
            {% for thread in mailinglist.get_most_relevant %}
              {% include "message-preview.html" with result=thread %}
            {% endfor %}
          </ul>
          <div class="text-right">
            <a href="{% url 'haystack_search' %}?list={{ mailinglist.name }}&type=thread">
              {% trans "more..." %}
            </a>
          </div>
        </div>
      </div>


    {% endif %}
  {% endfor %}

{% endblock %}
