{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Groups'|title %}{% endblock %}

{% block main-content %}
  <h2>{% trans 'Groups'|title %}</h2>
  <hr/>
  {% for mailinglist in lists %}
    {% if mailinglist.get_latest or mailinglist.get_most_relevant %}
      <h3><b><a href="{% url 'mailinglist_view' mailinglist.name %}">{{ mailinglist.name|title|lower }}</a> {% if mailinglist.description %} ({{ mailinglist.description }}){% endif %}</b></h3>
      <div class="btn-group btn-group-sm">
        <a href="#" class="btn btn-default" disabled="disabled">{% blocktrans with number_of_users=mailinglist.get_number_of_users %}{{ number_of_users }} members{% endblocktrans %}</a>
      </div>
      <hr/>

      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <h4>{% trans 'latest'|title %}</h4>
          <ul class="message-list">
            {% for thread in mailinglist.get_latest %}
              {% include "message-preview.html" with result=thread.latest_message %}
            {% endfor %}
          </ul>
          <div class="text-right">
            <a href="{% url 'haystack_search' %}?order=latest&tag={{ mailinglist.name }}&type=thread">
              {% trans "more..." %}
            </a>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <h4>{% trans 'most relevant'|title %}</h4>
          <ul class="message-list">
            {% for thread in mailinglist.get_most_relevant %}
              {% include "message-preview.html" with result=thread %}
            {% endfor %}
          </ul>
          <div class="text-right">
            <a href="{% url 'haystack_search' %}?list={{ mailinglist.name }}&type=thread">
              {% trans "more..." %}
            </a>
          </div>
        </div>
      </div>


    {% endif %}
  {% endfor %}

      {% if page_obj.has_other_pages %}
        <div class="text-center">
          <ul class="pagination">
            <li {% if page_obj.number == 1 %}class="disabled"{% endif %}>
              <a href="{% if page_obj.number == 1 %}javascript:void(0);{% else %}?page={{1}}{% endif %}"><span class="glyphicon glyphicon-chevron-left small-icon"></span><span class="glyphicon glyphicon-chevron-left small-icon"></span></a>
            </li>
            <li {% if not page_obj.has_previous %}class="disabled"{% endif %}>
              <a href="{% if page_obj.has_previous %}?page={{page_obj.previous_page_number }}{% else %}javascript:void(0);{% endif %}"><span class="glyphicon glyphicon-chevron-left small-icon"></span></a>
            </li>

            {% if page_obj.has_previous %}
              {% if page_obj.previous_page_number > 1 %}
                <li>
                  <a href="?page={{page_obj.previous_page_number|add:-1 }}">{{ page_obj.number|add:-2 }}</a>
                </li>
              {% endif %}
              <li>
                <a href="?page={{page_obj.previous_page_number }}">{{ page_obj.number|add:-1 }}</a>
              </li>
            {% endif %}

            <li class="active">
              <a href="javascript:void(0);">{{ page_obj.number }}</a>
            </li>

            {% if page_obj.has_next %}
              <li>
                <a href="?page={{page_obj.next_page_number }}">{{ page_obj.number|add:1 }}</a>
              </li>
              {% if page_obj.next_page_number < page_obj.paginator.num_pages %}
                <li>
                  <a href="?page={{page_obj.next_page_number|add:1 }}">{{ page_obj.number|add:2 }}</a>
                </li>
              {% endif %}
            {% endif %}

            <li {% if not page_obj.has_next %}class="disabled"{% endif %}>
              <a href="{% if page_obj.has_next %}?page={{page_obj.next_page_number }}{% else %}javascript:void(0);{% endif %}"><span class="glyphicon glyphicon-chevron-right small-icon"></span></a>
            </li>

            <li {% if page_obj.number == page_obj.paginator.num_pages %}class="disabled"{% endif %}>
              <a href="{% if page_obj.number == page_obj.paginator.num_pages %}javascript:void(0);{% else %}?page={{page_obj.paginator.num_pages }}{% endif %}"><span class="glyphicon glyphicon-chevron-right small-icon"></span><span class="glyphicon glyphicon-chevron-right small-icon"></span></a>
            </li>

          </ul>
        </div>
      {% endif %}

{% endblock %}
