{% load i18n gravatar widgets_tag  %}

  <div class="col-lg-6 col-md-6 col-sm-12">
    <h3>{% trans "Latest posted" %} </h3>
    <ul class="message-list">
    {% for doc in emails %}
      {% include "message-preview.html" with result=doc %}
    {% empty %}
      <li>{% trans "There are no posts by this user so far." %}</li>
    {% endfor %}
    </ul>
    <a href="{% url 'haystack_search' %}?type=thread&amp;author={{ user_.username }}">
      {% trans "View more posts..." %}
    </a>
    <div>&nbsp;</div>
  </div>
