{% load i18n %}

<head>
  {% trans "Messages" as group_collabs %}

  {% include "doughnut-chart.html" with chart_data=list_activity chart_canvas="group_collabs_id" name=group_collabs %}
</head>
<body>
  <div class="col-lg-4 col-md-4 col-sm-7">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{% trans "Participation by Group" %}</h3>
      </div>
      <div class="panel-body">
        <div id="group_collabs_id"></div>
        <div class="chart group_collabs_id">
          <canvas width="200" height="200"></canvas>
          <p></p>
        </div>
      </div>
    </div>
  </div>
</body>
