{% extends 'base.html' %}
{% load static %}

{% block head_css %}
<style>
  div#main-content {
    margin-top: 65px;
  }

  div#main-content .main-nav {
    margin-top: 0 px;
  }
  div#main-content div.container {
    width: 1110px;
  }
  div#main-content div.flash-container{
    width: 85%;
  }
  #breadcrumbs {
    border: 0 !important;
  }

  #right-top-nav {
    margin-right: 5em !important;
  }
</style>
{% endblock %}

{% block head_js %}
<script type="text/javascript">
  $(function(){
    // By Default Gitlab uses an event listener to stop propagation on any links
    //  and use HTML5 pseudo navigation. That was causing all links in our
    //  headers and footers to send the user to the right location but
    //  applying Gitlab CSS everywhere.
    // The workaround below will run before the Gitlab event and will prevent
    //  it to work.

    $('.navbar a, .footer').not('.dropdown-toggle').on("click",
        function(evt) { evt.stopPropagation(); }
    );

    $('div.panel-body div.automerge_widget').removeClass('hide');
  });
</script>
<script type="text/javascript" src="{% static 'third-party/bootstrap/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'third-party/jquery.cookie.js' %}"></script>
<script>jQuery.noConflict();</script>
{% endblock %}
